body{
font-family: Merriweather, serif;
}
.title{
margin-top: 50px;
border: solid;
}
#node{
width:200px;
margin-top:10px;
}
#ledger{
width:200px;
margin-top:10px;
}
#b-vs-r{
margin-top:20px;
}
#important{
width:200px;
margin-top:20px;
}
#hash{
margin-top:20px;
}
#algorithm{
margin-top:50px;
width:200px;
}
#wallet{
width:200px;
margin-left: auto;
margin-right: auto;
}
#id-paragraph{
margin-left:10px;
}